<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620883822251-tkjlq6snscb5npu427958u682cnq5gbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620883822251-tkjlq6snscb5npu427958u682cnq5gbq</string>
	<key>API_KEY</key>
	<string>AIzaSyD8lAyzLNDSFkzQWvckSVHwftZKrLbNoz8</string>
	<key>GCM_SENDER_ID</key>
	<string>620883822251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.davranarifzhanov.flashChat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-48499</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-48499.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620883822251:ios:a61929c78e79ec44cd59ee</string>
</dict>
</plist>